.bookmark {
    width: 80px;
    margin: 0;
    padding-bottom: 3px;
    border-radius: 17px;
    font-size: 13px;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.17s linear;
}

.bookmark:hover {
    color: #ececec;
    background-image: linear-gradient(0deg, #008cff86 0%, #03be6783 50%);
    box-shadow: 10px 10px 10px #1f1f1f;
    cursor: pointer;
}
